@charset "UTF-8";

/* seachFail_게시판 */

.allDiv{
	width: 1300px;
    margin: auto;
    margin-top: 110px
}

.ss_line{
	margin: 0px 0 10px 0;
    padding-bottom: 5px;
    background: url(//image.aladin.co.kr/img/search/line_bg.jpg) bottom left repeat-x;
}

.search_t_g{
	color: #555555;
    font-size: 12px; 
}

.result_l{
	color: #f33494;
    font-size: 14px;
    font-weight: bold;
}

.ss_space_h10{
	clear: both;
    height: 10px;
}

.ss_list_wbox{
	background: #fff;
    padding: 10px 15px;
    margin-bottom: 15px;

}

/* allbookList 출력값 */
#outputDiv{
	width: 100%;
    min-height: 400px;
    height: auto;
    overflow: auto;
  	padding-top: 25px;
    padding-bottom: 40px;
    text-align: left;
}

.formulli{
	list-style: none;
}

.printLi{
	list-style: none;
	color : black;
	padding-top : 6px;
}

.title{
	color: blue;
    font-weight: bold;
    font-size : 20px;
    padding-bottom: 10px;
}

.price{
 	color: red;
 	font-weight: bold;
 	padding : 6px;
} 

.publisher{
	padding : 6px;	
}

.description{
	padding : 6px;	
}

.link{
	padding : 6px;	
}

.author{
	padding : 6px;	
}

.imgLi{
	margin : 20px;
	width: 250px;
	height : 300px;
}

.link{
	padding : 6px;
}


.box_left {
    float: left;
    padding-left: 10px;
}

.brod_table {
	text-align: center;
	margin : 0 auto;
    width: 1300px;
    border-top: 1px solid #000; 
}


.showBook{
	margin : 0 auto;
}

#gallaryBt{
	
}

.sub_cont {
    clear: both;
    width: 100%;
    min-height: 400px;
    height: auto;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: left;
}


.contenTable{ 
	clear: both;
	margin: 0 auto;
	margin-top: 80px;
	/* margin-left: 550px; */
    width: 1300px;
    overflow: auto;
    padding-top: 45px;
    border-top: 2px solid #000;
    font-weight :bold; 
    text-align: left;
	
	
}

.table-striped{
	text-align: center;
	border: 1px solid #ccc;
	margin : 0 auto;
	width: 1300px;
}

#td01{
	background-color: #2D90B0;
	border: 0px solid #000;
	color: white;
	
}

.buttonPN{
	text-align: center;
    align-content: center;
    margin :10px; 
}

.buttonDiv{
	text-align: center;
    align-content: center;
    size: 20px;
}

.pageNum{
    text-align: center;
    margin :10px; 
}

.buttonUtil{
	margin : auto;
	margin-bottom : 10px;
	text-align:right;
	width:1300px;
}

#listBtn{
	color: white;
	border: none; 
	background-color: #2D90B0; 
	border-radius: 10px; 
	font-size: 20px;
}


/* 글쓰기 css -fwrite  */
table.type09 {
  margin: auto;	
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;

}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.type09 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}



/*  갤러리 css  */
.mnb_blank {
    width: 100%;
    float: left;
    height: 64px;
    display: none;
}
.div_inner {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}
.contents_wrap2 {
    width: 1300px;
    height: 100%;
}
.con_title {
    font-size: 34px; 
    color: #333;
    margin-top: 30px;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    height: 40px;
}
.media_list {
    width: 110%;
}
.media_list li {
    width: 378px;
    height: 324px;
    border: 1px solid #e5e5e5;
    float: left;
    margin-right: 29px;
    margin-bottom: 30px;
    overflow: hidden;
}
.m_sum {
    width: 100%;
    height: 212px;
    float: left;
    overflow: hidden;
}
.m_sum img {
    width: 100%;
    transform: scale(1);
    transition: all 0.5s ease;
}
.m_cover {
    width: 100%;
    left: 0;
    top: 0;
    height: 212px;
    opacity: 0;
    transition: all 0.5s ease;
}
.m_info {
    width: 100%;
    height: 112px;
    background-color: #2D90B0;
    float: left;
    color: #fff;
}
.m_info dt {
    width: 100%;
    text-align: center;
    height: 77px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    font-size: 18px;
    padding: 0 5%;
    word-break: keep-all;
}
.m_info dd {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #aaaaaa;
    font-family: "Tahoma";
}
.m_info a {
    color: #fff !important;
}
.eye_cnt {
    background: url(https://ssl.nexon.com/s2/game/maplestory/renewal/common/eye_new.png) left 0px no-repeat;
    padding-left: 18px;
}
.media_list li {
    width: 403px;
    height: 324px;
    border: 1px solid #e5e5e5;
    float: left;
/*     margin-right: 29px; */
    margin-bottom: 30px;
    overflow: hidden;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
#container {
/*     float: left; */
    width: 100%;
    height: 100%;
}

/*allbookList.jsp chex*/
.chex{
	background-image: url(../image/checked.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    text-align: center;
}

.unChex{
	background-image: url('../image/unChecked.png'); 
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
	text-align: center;
}
  