@charset "UTF-8";

.formulli{
	list-style: none;
}

#ySContent{ 
	margin: 0 auto;
    padding: 130px 0;
    width: 958px;
    _width: 960px;
    border: solid 1px #d8d8d8;
    text-align: center;
    background-color: #fff;
}

.loginCont{
	float: left;
    width: 360px;
}

.btnC.btn_blue .bWrap{
        border-color: #196ab3;
    border-bottom-color: #165fa1;
    border-right-color: #165fa1;
    background-color: #196ab3;
}
button.btnC.xb_size .bWrap{
height: 48px;
}


.btnC.xb_size .bWrap{
	padding: 0px 65px;
    height: 28px;
    text-align: center;
}

.loginCont .btn_login {
	margin: 20px 0 0 0;
	width: 100%;
}