@charset "UTF-8";
.menu-bg-wrap {
  background-color:#2D90B0;
  padding: 15px 30px;
  position: relative;
  float: left;
  width: 100%;
  border-radius: 7px;
  -webkit-box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.1); 
  }
  
  .formulli{ 
	list-style: none;
}

.lP{
	width: 210px;
    height: 45px;
	
}


.FD{
	padding-top : 8px;
}

.loginF{
	width : 15px;
	margin: 138px 50px 150px 80px;
}